body {
  margin: 20px;
  /*set font to Verdana*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.Camagu_pic {
  width: 150px;
}

.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;

  /*Center using margin shorthand*/
  margin: 0 auto;


  /*inheritance*/
  text-align: center;

  /*Colors*/
  color: #2b2839;
  background-color: #ddebf8;
  border-bottom: 6px solid #d8cefe;
}

/*utility
.dotted {
  border: 1px dotted blue;
} */
